<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>IR</title>
</head>
<body>
    <h1>Acoustic Emission</h1>
    <h2>Sample ID: {{ exp_id }}</h2>
    <table class="table text-center table-sm table-hover table-striped table-bordered">

        <tr>
            <th>#</th>
            <th>Sample ID</th>
            <th>Loading Amplitude</th>
            <th>Percent of Fatigue Life</th>
            <th>Cycles</th>
            <th>Average Acoustic Emission Hit</th>
        </tr>

    {% for row in data %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row['exp_id'] }}</td>
        <td>{{ row['loading_amp'] }}</td>
        <td>{{ row['percent_fatigue_life']}}</td>
        <td>{{ row['cycles'] }}</td>
        <td>{{ row['avg_AE_hits'] }}</td>
    </tr>
    {% endfor %}
    
</body>
</html>