{% extends "base.html" %}

{% block title %}
    Upload-REMADE NDE
{% endblock title %}

{% block section_title %}
    Upload
{% endblock section_title %}

{% block description %}

{% endblock description %}


{% block content %}

  {% block form %}


  <form class="upload-form" action="" method="POST" enctype="multipart/form-data" >
      {{ form.hidden_tag() }}

      <div class="form-row form-group align-items-center ">

          <div class="col-md-3">
              {{ form.nde.label }} {{ form.nde() }}
          </div>

          <div class="col-md-3">
              {{ form.exp_id.label }} <br> {{ form.exp_id() }}

              {{ form.loading_amp.label }} <br> {{ form.loading_amp() }} <br>

              {{ form.percent_fatigue_life.label }} <br> {{ form.percent_fatigue_life() }}
              <small class="form-text text-muted">Please refer to the experimental table. </small>
             
          </div>

          <div class="col-md-3">
            {{ form.dist_from_center.label }} <br> {{ form.dist_from_center(placeholder="LU and NLU only")  }} <br>

            {{ form.nlu_amp.label }} <br> {{ form.nlu_amp(placeholder="NLU only") }}
          </div>

          <div class="col-md-3">
              <p><input type="file"  name="file"></p>
              <button type="submit" class="btn btn-secondary btn-sm">Upload</button>
          </div>

      </div>

  </form>
  {% endblock %}


{% endblock %}