{% extends 'base.html' %}

{% block title %}
    IR Result
{% endblock title %}

{% block section_title %}
    IR Search Result
{% endblock section_title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="{{ url_for('static', filename= fig_url) }}" alt=""  class="img-fluid">
        </div>

    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1">

        <h3>Data</h3>

        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>

        </div>
    </div>
    
    <table id="data" class="table text-center table-sm table-striped table-bordered">
    
    <thead>
        <tr>
            <th>#</th>
            <th>Exp. ID</th>
            <th>Loading Amplitude</th>
            <th>Percent of Fatigue Life</th>
            <th>Cycles</th>
            <th>Temperature</th>
        </tr>
    </thead>

    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['exp_id'] }}</td>
            <td>{{ row['loading_amp'] }}</td>
            <td>{{ row['percent_fatigue_life' ]}}</td>
            <td>{{ row['cycles'] }}</td>
            <td>{{ row['temperature'] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</div>


{% endblock content %}
